{%  trans_default_domain 'home' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'mlcpro presentation'|trans }}{% endblock %}

{% block body %}
    <!-- Breadcromb Area Start -->
    <section class="jobguru-breadcromb-area">
        <div class="breadcromb-top section_100">

        </div>
    </section>
    <!-- Breadcromb Area End -->

    <!-- Team Area Start -->
    <section class="jobguru-team-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h2>{{ 'our expertise'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText">{{ 'mlcpro expertise'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area End -->

    <!-- Pricing Area Start -->
    <section class="jobguru-pricing-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h2>{{ 'our service'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText">{{ 'mlcpro service'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Area End -->

    <!-- Team Area Start -->
    <section class="jobguru-team-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading site-heading-custom">
                        <h2>{{ 'our group'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText">{{ 'mlcpro group'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area End -->

    <!-- Pricing Area Start -->
    <section class="jobguru-pricing-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h2>{{ 'our knowdoing'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText">{{ 'mlcpro knowdoing'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Area End -->

    <!-- Team Area Start -->
    <section class="jobguru-team-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading site-heading-custom">
                        <h2>{{ 'our offer'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText">{{ 'mlcpro offer'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area End -->

    <!-- Pricing Area Start -->
    <section class="jobguru-pricing-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h2>{{ 'our values'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p class="presentationSocietyText text-center">{{ 'mlcpro values'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Area End -->
{% endblock %}
