<h1>Nouvelle candidature !</h1>

<p><b>Poste : </b><a href="{{ path('job_details', {'id':appliedFor.id}) }}">{{ appliedFor.title.name|capitalize }}</a></p>
<p><b>Date : </b>{{ uploadedAt|date('d/m/Y') }}</p>
<p><b>Prénom : </b>{{ firstname|capitalize }}</p>
<p><b>Nom : </b>{{ lastname|upper }}</p>
<p><b>Numéro de téléphone : </b>{{ phone }}</p>
<p><b>Adresse email : </b>{{ email }}</p>

<p><b>Message : </b>{% if message != null %}{{ message }}{% else %}Aucun message{% endif %}</p>
