{% trans_default_domain 'base' %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Travail temporaire">
        <meta name="keyword" content="interim, cdi, travail temporaire, mission">
        <meta name="author" content="Yvan Terrana">
        <title>{% block title %}VFC | Travail temporaire{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/vfc.jpg') }}">
            <!--Bootstrap css-->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <!--Font Awesome css-->
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
            <!--Magnific css-->
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <!--Owl-Carousel css-->
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
            <!--Animate css-->
            <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
            <!--Select2 css-->
            <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
            <!--Slicknav css-->
            <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css') }}">
            <!--Bootstrap-Datepicker css-->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}">
            <!--Jquery UI css-->
            <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
            <!--Perfect-Scrollbar css-->
            <link rel="stylesheet" href="{{ asset('assets/css/perfect-scrollbar.min.css') }}">
            <!--Site Main Style css-->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <!--Responsive css-->
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        {% endblock %}
    </head>
    <body>
    <!-- Header Area Start -->
        <header class="jobguru-header-area stick-top forsticky sticky {% if app.request.attributes.get('_route') in ["about_vfc", "about_mlcpro", "fos_user_security_login", "fos_user_registration_register", "dashboard_applications", "application"] %}page-header{% endif %}">
            <div class="menu-animation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="site-logo">
                                <a href="{{ path('home') }}">
                                    <img src="{{ asset('assets/img/Logo VFC.jpg') }}" alt="logo vfc" class="stick-logo" />
                                </a>
                            </div>
                            <!-- Responsive Menu Start -->
                            <div class="jobguru-responsive-menu"></div>
                            <!-- Responsive Menu Start -->
                        </div>
                        <div class="col-lg-6">
                            <div class="header-menu">
                                <nav id="navigation">
                                    <ul id="jobguru_navigation">
                                        <li class="active has-children">
                                            <a href="#">{{ 'societies'|trans }}</a>
                                            <ul>
                                                <li><a href="{{ path('about_vfc') }}">{{ 'vfc'|trans }}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="header-right-menu">
                                <ul>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><a href="{{ path('fos_user_security_logout') }}" class="post-jobs post-jobs-logout"><i class="fa fa-power-off"></i> {{ "logout"|trans }}</a></li>
                                        <li><a href="{{ path('dashboard_applications') }}"><i class="fa fa-user"></i>{{ app.user.username }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path('application') }}" class="post-jobs">{{ "post cv"|trans }}</a></li>
                                        <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i>{{ 'login'|trans }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End -->
        {% block body %}{% endblock %}

    <!-- Footer Area Start -->
    <footer class="jobguru-footer-area">
        <div class="footer-top section_50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h3>{{ 'main links'|trans }}</h3>
                            <ul>
                                <li><a href="{{ path('about_vfc') }}"><i class="fa fa-angle-double-right "></i> {{ 'about vfc'|trans }}</a></li>
                                <li><a href="{{ path('application') }}"><i class="fa fa-angle-double-right "></i> {{ 'post cv'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-footer-widget footer-contact">
                            <h3>{{ 'head office'|trans }}</h3>
                            <p><i class="fa fa-map-marker"></i> Kirchwies 4, 66119 Saarbrücken</p>
                            <p><i class="fa fa-phone"></i>+49 (0)681 / 988 36 482</p>
                            <p><i class="fa fa-mobile-phone"></i> 06 47 57 37 44</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="mailto:vfc.secretariat@travailtemporaire.net">vfc.secretariat@travailtemporaire.net</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="single-footer-widget footer-contact">
                            <h3>{{ 'branch'|trans }}</h3>
                            <p><i class="fa fa-map-marker"></i> 9 rue Laplace, 57460 Behren-lès-Forbach </p>
                            <p><i class="fa fa-phone"></i>03 87 13 02 74</p>
                            <p><i class="fa fa-mobile-phone"></i> 06 47 57 37 44</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="mailto:vfc.secretariat@travailtemporaire.net">vfc.secretariat@travailtemporaire.net</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-left">
                            <p>Copyright &copy; {{ "now"|date('Y') }} VFC. {{ 'all rights'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

        {% block javascripts %}
            <!--Jquery js-->
            <script src="{{ asset('assets/js/jquery-3.0.0.min.js') }}"></script>
            <!--Popper js-->
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <!--Bootstrap js-->
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <!--Bootstrap Datepicker js-->
            <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
            <!--Perfect Scrollbar js-->
            <script src="{{ asset('assets/js/jquery-perfect-scrollbar.min.js') }}"></script>
            <!--Owl-Carousel js-->
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <!--SlickNav js-->
            <script src="{{ asset('assets/js/jquery.slicknav.min.js') }}"></script>
            <!--Magnific js-->
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <!--Select2 js-->
            <script src="{{ asset('assets/js/select2.min.js') }}"></script>
            <!--jquery-ui js-->
            <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
            <!--Main js-->
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
