{% trans_default_domain 'dashboard' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard'|trans }}{% endblock %}

{% block body %}
    <!-- Breadcromb Area Start -->
    <section class="jobguru-breadcromb-area">

    </section>
    <!-- Breadcromb Area End -->


    <!-- Candidate Dashboard Area Start -->
    <section class="candidate-dashboard-area section_70">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 col-lg-3 dashboard-left-border">
                    <div class="dashboard-left">
                        <ul class="dashboard-menu">
                            <li><a href="{{ path('dashboard_applications') }}"><i class="fa fa-users"></i>{{ 'cv list'|trans }}</a></li>
                            <li><a href="{{ path('applications') }}"><i class="fa fa-user"></i>{{ 'cv list'|trans }}</a></li>
                            <li class="active"><a href="{{ path('dashboard_jobs') }}"><i class="fa fa-gear"></i>{{ 'job offers'|trans }}</a></li>
                            <li><a href="{{ path('jobs_name') }}"><i class="fa fa-pencil"></i>{{ 'jobs name'|trans }}</a></li>
                            <li ><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>{{ 'logout'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9">
                    <div class="dashboard-right">
                        <div class="manage-jobs manage-candidates">
                            <div class="manage-jobs-heading">
                                <h3>{{ 'manage jobs'|trans }} ({{ jobsNb }}) - <a href="{{ path('add_job') }}" class="btn btn-circle btn-primary"><i class="fa fa-plus"></i></a></h3>
                            </div>
                        </div>
                        <div class="candidate-list-page">
                            <div class="manage-jobs">
                                <div class="single-manage-jobs table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{{ 'title'|trans }}</th>
                                            <th>{{ 'type'|trans }}</th>
                                            <th>{{ 'city'|trans }}</th>
                                            <th>{{ 'posted at'|trans }}</th>
                                            <th>{{ 'action'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for job in jobs %}
                                            <tr>
                                                <td class="manage-jobs-title"><a href="{{ path('job_details', {'id':job.id}) }}">{{ job.title.name }}</a></td>
                                                <td class="table-date">{{ job.type }}</td>
                                                <td class="table-date">{{ job.city }}</td>
                                                <td><span class="pending">{{ job.postedAt|date('d/m/Y') }}</span></td>
                                                <td>
                                                    <a href="{{ path('job_details', {'id':job.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('edit_job', {'id': job.id}) }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{ path('delete_job', {'id': job.id}) }}" class="btn btn-danger" onclick="return confirm('{{ 'confirm'|trans }}')"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        {{ knp_pagination_render(jobs) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Candidate Dashboard Area End -->
{% endblock %}
